@import url(./vars.css);
@import url(./header.css);
@import url(./bemvindo.css);
@import url(./entidades.css);

html{
    scroll-behavior: smooth;
}

/* Estilos Gerais e Reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: var(--back-main);
}

/* Estilo Padrão para todas as seções principais */
.section-container{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem 5%;
}

/* experimentos */
main .experimentos {
    background-color: #ffebee;
    color: #c62828;
}

/* media query para mobile */
@media (max-width: 768px) {
    .section-container {
        height: auto;
        min-height: 100vh;
        padding: 4rem 1.5rem;
        flex-direction: column;
    }
}