<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="shortcut icon" href="./images/logo1.ico" type="image/x-icon">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
    <title>Stand de CIC</title>
</head>
<body>
    <import path= "header.html"></import>
        <div class = "experimento-SaibaMais-container">
            <div class = "container">
                <div id="experimentoSaibaMais"></div>
                    <!-- Conteúdo via InnerHTML -->
                     
            </div>
        </div>
    <import path="footer.html"></import>

    <script src="../js/importcomponent.js"></script>
    <script src="../js/experimentosSaibaMais.js"></script>
</body>

</html>
