 <link rel="stylesheet" href="../stylesheets/footer.css">

 <footer class ="footer" id="contato">
        <section class="footer-box">
            <div>
                <p>
                &copy; 2025 - Todos os direitos reservados | COLCIC
                </p>
            </div>
            <div>
                <p>
                Desenvolvido por <b><a href=https://github.com/arthun01">Arthur</a></b> e <b><a href="https://github.com/ESTEV40">Estêvão</a></b>
                </p>
            </div>
        </section>
</footer>