<link rel="stylesheet" href="../stylesheets/footer.css" />

<footer class="footer" id="contato">
  <section class="footer-box">
    <div>
      <p>&copy; 2026 - Todos os direitos reservados | COLCIC</p>
    </div>
    <div>
      <p>
        Desenvolvido por <b><a href="https://github.com/arthun01">Arthur Vieira</a></b
        >, <b><a href="https://github.com/ESTEV40">Estêvão Sousa</a></b
        >, <b><a href="https://github.com/amgolrt">Almiriane Goulart</a></b> e
        <b><a href="https://github.com/stellaribas">Stella Ribas</a></b>
      </p>
    </div>
  </section>
</footer>
