<link rel="stylesheet" href="stylessheets/header.css">

<header>
    <nav>
        <ul>
            <li class="logo">
                <a href="../index.html#bemvindo">
                    <img src="../assets/brasaouesc.png" alt="Logo da Uesc" class="img2">
                    <img src="../assets/logo.png" alt="Logo do Colegiado de Ciência da Computação da UESC" class="img1">
                </a>
            </li>
            <li class="contato"><a href="../index.html#entidades" class="btns-nav">Nossas Entidades</a></li>
            <li class="duvida"><a href="../index.html#experimentos" class="btns-nav">Experimentos</a></li>
            
        </ul>
    </nav>
</header>