.footer {
    background: var(--azulPrimario);
    color: white;
    padding: 1.5rem 0;
    text-align: center;
    bottom: 0;       
    width: 100%;     

}

.footer-box {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1rem;
}

.footer-box div {
    margin: 0.5rem 0;
}

.footer p {
    color: var(--brancoSecundario);
    margin: 0.3rem 0;
    font-size: 0.95rem;
}

.footer a {
    color: #3498db;
    text-decoration: none;
}

.footer a:hover {
    text-decoration: underline;
}