:root{
    --h1-main: #561f9d;
    --h2-main: #f8dc0f;
    --back-main: #dde1f8;
    --a-main: #561f9d;
    --back: #e4eaff;
    --header: #b3bbfa;
    --white: #FFF;
    --p: #561f9d;
    --border: #e5e7eb;
    --tag-bg:#eef1fb;
    --gold: #eaa900;
    --azulBemVindo: #1b2a56;

    /* cores do colegiado */
    --azulPrimario : #283A73;
    --azulSecundario : #4561BD;
    --amareloPrimario : #F0D400;
    --amareloSecundario : #F0E63A;
    --brancoPrimario: #E6EDFF;
    --brancoSecundario : #FBFBFB;
    --verdeComplementar : #419D78;

    --cinzaEscuro: #1f2430;
}